body {
	display: flex;
    	flex-direction: column;
     	gap: 0.1em;
      background:repeating-linear-gradient(0deg,transparent 0 9px,#FFF 9px 10px),repeating-linear-gradient(90deg,transparent 0 9px,#FFF 9px 10px),linear-gradient(#fcc,#cfc,#ccf);
}

h1 {
	border-style: solid;
    background: white;
    border: dotted;
    border-color: pink;
    padding: 1em;
}

.node {
    margin: 0.5em;
    border: solid;
    border-color: pink;
    padding: 0.2em;
    background: white;
}

.context {
    gap: 0.1em;
    flex-grow: 2;
}

.menu {
	flex-grow: 1;
	background: wheat;
}

code {
    background-color: whitesmoke;
    color: black;
    border-radius: 0.1em;
    border: solid;
    margin: 0.1em;
    padding: 0.2em;
    border-width: thin;
}

.code {
    background-color: whitesmoke;
    color: black;
    border-radius: 0.1em;
    border: solid;
    margin: 0.1em;
    padding: 0.2em;
    border-width: thin;
}

iframe {
	background-color: whitesmoke;
	color: black;
	border-radius: 0.1em;
	border: solid;
	margin: 0.1em;
	padding: 0.2em;
	border-width: thin;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
    display: flex;
	flex-direction: column;
}

a {
	color: black;
	background-color: aqua;
	border-radius: 0.2em;
	box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 255);
}

li {
    padding: 0.2em;
}
